@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Mulish:wght@200&display=swap');

:root {
    --blue-level-1: #0458a0;
    --blue-level-2: #0079d4;
    --cian-color: #0fffff;
    --back-input-color: rgba(4, 4, 4, .1);

    --green-level-1: #2ecc71;
    --freeman-font: "Freeman", sans-serif;
    --mulish-font: "Mulish", sans-serif;
}

.login-main {
    width: 50%;
    height: 550px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-title {
    width: 100%;
    text-align: center;
    font-family: var(--freeman-font);
    font-size: 54px;
    letter-spacing: 1px;
    text-decoration-line: underline;
    text-decoration-color: var(--green-level-1);
    text-decoration-thickness: 2.5px;
    text-underline-offset: 5px;
}

.FormControl {
    width: 100%;
    padding: 10px;
    margin: 5px 0 0 0;
}

.FormLabelLogin {
    padding: 10px 0 2px 0;
    font-family: var(--mulish-font);
    font-size: 18px;
    color: var(--green-level-1);
}

.InputLogin {
    width: 100%;
    height: 2.5rem;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: var(--back-input-color);
}

.login-pass-question {
    text-align: end;
    font-family: var(--mulish-font);
    font-weight: 500;
    letter-spacing: 1px;
}

.login-pass-question a {
    text-decoration: none;
    font-size: 15px;
    color: var(--green-level-1);
}

.InputRightElement {
    padding: 5px;
}

.InputRightElement button {
    padding: 0 5px;
    border: none;
    background-color: transparent;
}

.EyeSlashIcon {
    width: 20px;
}

.ButtonControlLogin {
    width: 50%;
    height: 45px;
    border-color: var(--green-level-1);
    border-radius: 5px;
    color: var(--green-level-1);
    cursor: pointer;
    font-size: 20px;
}

.login-singup-question {
    padding-top: 10px;
    font-family: var(--mulish-font);
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 15px;
}

.login-singup-question a {
    text-decoration: none;
    color: var(--green-level-1);
    font-size: 15px;
}

@media (max-width: 600px) {
    .login-main {
        width: 100%;
    }

    .login-title {
        font-size: 30px;
        letter-spacing: 1px;
        text-decoration-thickness: 1.5px;
        text-underline-offset: 2.5px;
    }

    .FormLabelLogin {
        padding: 0 0 2px 0;
        font-size: 15px;
    }

    .InputLogin {
        height: 35px;
    }

    .login-pass-question {
        font-weight: 500;
        letter-spacing: 0;
    }

    .login-pass-question a {
        font-size: 12px;
    }

    .ButtonControlLogin {
        width: 80%;
        height: 30px;
        font-size: 15px;
    }

    .login-singup-question {
        letter-spacing: 0;
        font-size: 12px;
        padding-top: 5px;
    }
    
    .login-singup-question a {
        font-size: 12px;
    }

    .FormControl-Cel {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}