.select-type-product {
    width: 100%;
    height: 2.5rem;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: var(--back-input-color);
}

.create-p-textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 100px;
    max-height: 100px;

    border: none;
    background-color: var(--back-input-color);
    border-radius: 5px;
    padding: 10px;
}

.FormControl input {
    width: 100%;
}