.product-main {
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 30px;
    /* background-color: aqua; */
}

@media (max-width: 1023px) {
    .product-main {
        grid-template-columns: repeat(2, minmax(150px, 1fr));
        gap: 15px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .product-main {
      grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
}