.layout-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin-top: 100px;
}

@media (max-width: 1023px) {
    .layout-main {
        margin-top: 60px;
    }
}

@media (max-width: 600px) {
    .layout-main {
        margin-top: 50px;
    }
}