@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --blue: #04e6f6;
}

.product-detail-main {
    height: 620px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-detail-main figure {
    width: 100%;
    position: relative;
}

.product-detail-main figure img {
    width: 100%;
    height: 500px;
    border-radius: 15px;
}

.product-add-cart {
    display: flex; 
    position: absolute; 
    top: 0; 
    right: 0; 
    padding: 0.25rem; 
    margin: 10px;
    justify-content: center; 
    align-items: center; 
    border-radius: 10px;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border: solid 1px var(--blue);
}

.product-add-icon {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--blue);
    cursor: pointer;
}

.product-data {
    height: 80px;
    width: 100%;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-data span {
    width: 45%;
    font-family: "Freeman", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

.product-data div {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}

.product-price {
    font-family: "Freeman", sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
}

@media (max-width: 600px) {
    .product-detail-main {
        height: 420px;
    }

    .product-detail-main figure img {
        height: 300px;
    }

    .product-data span {
        width: 40%;
        font-size: 15px;
        font-weight: 600;
        line-height: 24px;
    }
    
    .product-price {
        font-size: 15px;
    }
}

@media (min-width: 601px) and (max-width: 1023px) {
    .product-detail-main {
        height: 520px;
    }

    .product-detail-main figure img {
        width: 100%;
        height: 400px;
        border-radius: 15px;
    }

    .product-data span {
        width: 40%;
        font-size: 20px;
        font-weight: 550;
        line-height: 20px;
    }
    
    .product-data div {
        width: 40%;
    }
}