@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Mulish:wght@200&display=swap');

:root {
    --blue-level-1: #0458a0;
    --blue-level-2: #0079d4;
    --cian-color: #0fffff;
    --back-input-color: rgba(4, 4, 4, .1);

    --freeman-font: "Freeman", sans-serif;
    --mulish-font: "Mulish", sans-serif;
}

.product-detail-main {
    height: 550px;
    /* border-radius: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: #fafafa;
}

.product-detail-main figure {
    width: 100%;
    position: relative;

    display: flex;
    justify-content: center;
}

.product-detail-main figure img {
    width: 450px;
    height: 470px;
    /* border-radius: 15px; */
}

.product-add-cart {
    display: flex; 
    position: absolute; 
    top: 0; 
    right: 0; 
    padding: 0.25rem; 
    margin: 10px;
    justify-content: center; 
    align-items: center; 
    border-radius: 10px;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border: solid 1px var(--blue-level-1);
}

.product-add-icon {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--blue-level-1);
    cursor: pointer;
}

.product-data {
    height: 60px;
    width: 100%;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-data span {
    width: 45%;
    font-family: "Freeman", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

.product-data div {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}

.product-price {
    font-family: "Freeman", sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
}

@media (max-width: 1023px) {
    .product-detail-main {
        height: 300px;
        /* width: 250px; */
    }

    .product-detail-main figure img {
        height: 250px;
        width: 100%;
    }

    .product-data span {
        width: 40%;
        font-size: 15px;
        font-weight: 600;
        line-height: 24px;
    }
    .product-price {
        font-size: 15px;
    }
}

@media (max-width: 600px) {
    .product-detail-main {
        height: 380px;
        width: 350px;
    }

    .product-detail-main figure img {
        height: 350px;
    }

    .product-add-cart {
        padding: 0.25rem; 
        margin: 10px;
        width: 30px;
        height: 30px;
    }

    /* .product-detail-main {
        height: 220px;
    }

    .product-detail-main figure img {
        width: 100%;
        height: 150px;
        border-radius: 15px;
    } */

    .product-data {
        height: 40px;
        width: 100%;
        padding: 0 10px;
    }

    .product-data span {
        width: 45%;
        font-size: 10px;
        line-height: 10px;
    }

    .product-data div {
        width: 45%;
    }

    .product-price {
        font-size: 10px;
        line-height: 10px;
    }

    /* .product-data div p {
        font-size: 10px;
    } */
}