@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Mulish:wght@200&display=swap');

:root {
    /* --blue-level-1: #0458a0; */
    --green-level-1: #2ecc71;
    --blue-level-2: #0079d4;
    --cian-color: #0fffff;
    --back-input-color: rgba(4, 4, 4, .1);

    --freeman-font: "Freeman", sans-serif;
    --mulish-font: "Mulish", sans-serif;
}

.product-detail-main {
    height: 550px;
    /* border-radius: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: #fafafa;
}

.pdm-link {
    /* width: 100%; */
    text-decoration: none;
    color: black;
}

.pdm-figure {
    width: 100%;
    position: relative;

    display: flex;
    justify-content: center;
}

.pdm-figure img {
    width: 450px;
    height: 470px;
    /* border-radius: 15px; */
}

.product-add-cart {
    display: flex; 
    position: absolute; 
    top: 0; 
    right: 0; 
    padding: 0.25rem; 
    margin: 10px;
    justify-content: center; 
    align-items: center; 
    border-radius: 10px;
    width: 40px;
    height: 40px;
    /* background-color: #ffffff; */
    border: solid 1px var(--green-level-1);
}

.product-add-icon {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--green-level-1);
    cursor: pointer;
}

.product-data {
    height: 60px;
    width: 100%;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-data span {
    width: 45%;
    font-family: "Freeman", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

.product-data div {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}

.product-price {
    font-family: "Freeman", sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
}

@media (max-width: 1023px) {
    .product-detail-main {
        height: 350px;
        width: 270px;
    }

    .pdm-figure {
        height: 280px;
    }

    .pdm-figure img {
        height: 280px;
        border-radius: 10px;
    }

    .product-data {
        height: 70px;
        width: 100%;
        padding: 0 10px;
    }

    .product-data span {
        width: 50%;
        font-size: 18px;
    }

    .product-data div {
        width: 50%;
    }

    .product-description {
        font-size: 11px;
        padding: 5px 0px 0px 0px;
    }

    .product-price {
        font-size: 17px;
        line-height: 10px;
    }
}

@media (max-width: 600px) {
    .product-detail-main {
        height: 414px;
        width: 350px;
    }

    .pdm-figure {
        height: 350px;
    }

    .pdm-figure img {
        height: 350px;
        border-radius: 10px;
    }

    .product-add-cart {
        padding: 0.25rem; 
        margin: 10px;
        width: 30px;
        height: 30px;
    }

    .product-data {
        height: 64px;
        /* width: 100%;
        padding: 0 10px; */
    }

    .product-data span {
        width: 50%;
        font-size: 20px;
        /* line-height: 10px; */
    }

    .product-data div {
        width: 50%;
    }

    .product-description {
        font-size: 12px;
        padding: 5px 0px 0px 0px;
    }

    .product-price {
        font-size: 17px;
        line-height: 10px;
    }
}