/*
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Mulish:wght@200&display=swap');
*/
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --back-input-color:  #d1d1d1;
    --blue-cian: #00e1ff;
    --mulish-font: "Mulish", sans-serif;

    --hover-color: #55d991;
    --green-level-1: #2ecc71;
    --font-kode-mono: "Kode Mono", serif;
    --font-press-start-2p: "Press Start 2P", serif;
    --font-inter: "Inter", serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-align: center;
    height: 80px;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
    background-color: white;
}

.navbar-logo a {
    color: inherit;
    font-size: 2rem;
    font-weight: 600;
    font-family: var(--font-press-start-2p);
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 0 0 10px;
}


/* .navbar-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-align: center;
    height: 120px;
    position: fixed;
    z-index: 1000;
    background-color: greenyellow;
    width: 100%;
} */

.navbar-ul {
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 100%;
}

/* .navbar-li {
    padding: 0 10px;
    list-style: none;
} */

/* .other-li {
    text-decoration: none;
    color: #000000;
} */

/* .navbar-search {
    padding: 10px 10px 0 50px;
} */

/* .logo {
    font-family: "Freeman", sans-serif;
    font-size: 55px;
} */

/* .navbar-li-div {
    background-color: var(--back-input-color);
    border-radius: 5px;
    padding: 0 7px;
    display: flex;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
} */

/* .navbar-input {
    background-color: transparent;
    border: none;
    padding: 5px 0;
} */

/* .navbar-input-botton {
    background-color: transparent;
    border: none;
    height: 35px;
    padding: 0 10px;
    cursor: pointer;
} */

.navbar-li-2 {
    padding: 0 5px;
    list-style: none;
    font-size: 25px;
}

.navbar-li-2 a {
    color: black;
    font-family: var(--mulish-font);
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
}

.product-cart-icon-login {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--green-level-1);
}

.product-cart-icon-logout {
    width: 1.5rem;
    height: 1.5rem;
    color: red;
}

.li-cart-icon {
    display: flex;
    align-items: center;
}

.navbar-cart {
    font-size: 20px;
    /* font-family: "Freeman", sans-serif; */
    color: var(--blue-cian);
}

@media (max-width: 1023px) {
    /* .logo {
        font-size: 40px;
    } */

    .navbar {
        height: 50px;
    }

    .navbar-logo a {
        font-size: 1.25rem;
    }

    .navbar-li-2 {
        font-size: 25px;
        padding: 0 2.5px;
    }

    .username {
        font-size: 15px;
    }

    .new_product {
        font-size: 15px;
    }

    /* .product-cart-icon {
        font-size: 15px;
    } */
}

@media (max-width: 600px) {
    /* .logo {
        font-size: 30px;
    } */

    /* .navbar-search {
        display: none;
    } */

    /* .navbar-main {
        height: 65px;
    } */

    .navbar {
        height: 40px;
    }

    .navbar-logo a {
        font-size: 1rem;
    }

    .navbar-li-2 {
        font-size: 10px;
        padding: 0 2.5px;
    }

    .username {
        font-size: 15px;
    }
    
    .new_product {
        font-size: 15px;
    }

    /* .product-cart-icon {
        font-size: 15px;
    } */

    .navbar-cart {
        font-size: 16px;
        padding: 0 0 0 3px;
    }
}