@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Mulish:wght@200&display=swap');

:root {
    --back-input-color:  #d1d1d1;
    --blue-cian: #00e1ff;
    --mulish-font: "Mulish", sans-serif;
}

.navbar-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-align: center;
    height: 120px;
    /* box-shadow: rgba(149, 157, 165, 0.2) 10px 0px 55px; */
}

.navbar-ul {
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 100%;
}

.navbar-li {
    padding: 0 10px;
    list-style: none;
}

.navbar-search {
    padding: 10px 10px 0 50px;
}

.navbar-li h1 {
    font-family: "Freeman", sans-serif;
    font-size: 55px;
}

.navbar-li-div {
    background-color: var(--back-input-color);
    /*
    border: gray;
    border-style: solid;
    */
    border-radius: 5px;
    padding: 0 7px;
    display: flex;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.navbar-input {
    background-color: transparent;
    border: none;
    padding: 5px 0;
}

.navbar-input-botton {
    background-color: transparent;
    border: none;
    height: 35px;
    padding: 0 10px;
    cursor: pointer;
}

.navbar-li-2 {
    padding: 0 5px;
    list-style: none;
    font-size: 25px;
}

.navbar-li-2 a {
    /*
    letter-spacing: 1px;
    font-weight: 700;
    text-decoration: none;
    */
    color: black;

    font-family: var(--mulish-font);
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
}

.product-cart-icon {
    width: 1.5rem; 
    height: 1.5rem; 
    color: #000000; 
}

.li-cart-icon {
    display: flex;
    align-items: center;
}

.navbar-cart {
    font-size: 20px;
    /* font-family: "Freeman", sans-serif; */
    color: var(--blue-cian);
}

@media (max-width: 1023px) {
    .navbar-li h1 {
        font-size: 40px;
    }

    .navbar-li-2 {
        font-size: 25px;
        padding: 0 2.5px;
    }

    .username {
        font-size: 15px;
    }

    .new_product {
        font-size: 15px;
    }

    /* .product-cart-icon {
        font-size: 15px;
    } */
}

@media (max-width: 600px) {
    .navbar-li h1 {
        font-size: 30px;
    }

    .navbar-search {
        display: none;
    }

    .navbar-main {
        height: 65px;
    }

    .navbar-li-2 {
        font-size: 20px;
        padding: 0 2.5px;
    }

    .username {
        font-size: 15px;
    }
    
    .new_product {
        font-size: 15px;
    }

    /* .product-cart-icon {
        font-size: 15px;
    } */
}