.xmark-icon-ordercart {
    width: 1.5rem; 
    height: 1.5rem; 
    color: #000000; 
    cursor: pointer; 
}

.main-order-cart {
    display: flex; 
    margin-bottom: 0.75rem; 
    justify-content: space-between; 
    align-items: center; 
}

.img-product {
    width: 70px;
    height: 80px;
}

.img-product figure {
    height: 80px;
}

.img-product figure img {
    border-radius: 0.5rem; 
    width: 70px;
    height: 80px;
}

.info-product {
    width: 60%;
}

.info-product-title {
    font-size: 18px;
    font-weight: 600;
}

.info-product-price {
    font-size: 15px;
}


@media (max-width: 600px) {
    
    .img-product figure {
        width: 3rem;
        height: 3rem;
    }

    .img-product figure img {
        width: 90%;
    }

    .info-product {
        flex-direction: column;
        align-items: start;

        padding: 5px;
    }

    .info-product p {
        font-size: 12px;
        line-height: 1.2;
    }
}