@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Mulish:wght@200&display=swap');

:root {
    --blue-level-1: #0458a0;
    --blue-level-2: #0079d4;
    --cian-color: #0fffff;
    --back-input-color: rgba(4, 4, 4, .1);

    --freeman-font: "Freeman", sans-serif;
    --mulish-font: "Mulish", sans-serif;
}

.auth-main {
    width: 100%;
    /*
    height: 750px;
    width: 50%;
    padding: 15px;
    */
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth-title {
    width: 100%;
    text-align: center;
    font-family: var(--freeman-font);
    font-size: 45px;
    letter-spacing: 1px;
    text-decoration-line: underline;
    text-decoration-color: var(--blue-level-1);
    text-decoration-thickness: 2.5px;
    text-underline-offset: 5px;
}

.FormControlAuth {
    width: 100%;
    padding: 10px;
    margin: 0;
}

.FormLabelAuth {
    padding: 0;
    font-family: var(--mulish-font);
    font-size: 18px;
    color: var(--blue-level-1);
}

.InputAuth {
    width: 100%;
    height: 2.5rem;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: var(--back-input-color);
}

.InputAuth-2 {
    cursor: default;
}

/* .FormHelperText {
    width: 100%;
    height: 1.5rem;
    padding: 10px;
} */

/* .InputRightElement {
    padding: 5px;
} */

/* .InputRightElement button {
    padding: 0 5px;
    border: none;
    background-color: transparent;
}

.EyeSlashIcon {
    width: 20px;
} */

.ButtonControlAuth {
    width: 50%;
    height: 45px;
    border-color: var(--blue-level-1);
    /*
    border: none;
    */
    border-radius: 5px;
    color: var(--blue-level-1);
    cursor: pointer;
    font-size: 20px;
}

/* .singup-login-question {
    padding-top: 10px;
    font-family: var(--mulish-font);
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 15px;
}

.singup-login-question a {
    text-decoration: none;
    color: var(--blue-level-1);
    font-size: 15px;
} */

@media (max-width: 600px) {
    .auth-main {
        width: 100%;
    }

    .auth-title {
        font-size: 30px;
        text-decoration-thickness: 1.5px;
        text-underline-offset: 2.5px;
    }

    .FormLabelAuth {
        padding: 0 0 2px 0;
        font-size: 15px;
    }

    .InputAuth {
        height: 35px;
    }

    .ButtonControlAuth {
        width: 80%;
        height: 30px;
        font-size: 15px;
    }

    .FormControl-Cel-Auth {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}